{% extends "network/layout.html" %}
{% load static %}

{% block head %}
    <script src="{% static 'network/like-edit.js' %}"></script>
{% endblock %}

{% block body %}

    {% if following_number < 1 %}
        <h1>You do not follow anyone!</h1>
    
    {% elif following_number > 0 and posts %}    
        <h1>Posts from people you follow!</h1>
        {% for post in page_obj %}
            <div class="flex-column-reverse container border rounded">
                <input type="hidden" class="post-id" value="{{ post.id }}">
                <div class="p-1"><a href="{% url 'userpage' post.user.username %}">{{ post.user.username }}</a></div>
                <div class="p-1">{{ post.text }}</div>
                <div class="p-1">{{ post.date }} </div>
                <div class="p-1">
                    <button class="likebutton">
                        <img class="hearticon" src="{% static 'network/media/heart.png' %}" alt="heart button">
                    </button>
                    <div class="like-counter">
                        {{ post.likes }}
                    </div>
                </div>
            </div>
        {% endfor %}
        <div class="pagination">
            <span class="step-links">
                {% if page_obj.has_previous %}
                    <a href="?page=1">&laquo; first</a>
                    <a href="?page={{ page_obj.previous_page_number }}">previous</a>
                {% endif %}

                <span class="current">
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                </span>

                {% if page_obj.has_next %}
                    <a href="?page={{ page_obj.next_page_number }}">next</a>
                    <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
                {% endif %}
            </span>
        </div>
    {% else %}
        <h1>Your followers don't have any posts yet!</h1>
    {% endif %}
{% endblock %}